/*----COMMON----*/
*{
    font-family: Arial, Helvetica, sans-serif;
}



[class*="col"]{
    background-color: blue;
    color: white;
    border:1px solid white;
    text-align: center;
    padding: 1rem;
}

[class*="col"] > .row > *{
    background-color: green;
}

[class*="col"].double-height{
    padding: 2rem;
}
